.abilities {
  padding: 40px 130px;
}
span {
  font-weight: lighter;
  font-size: 15px;
  text-align: left;
  color: #434242;
}
li {
  padding: 3px 0px;
}
li:hover {
  background-color: #e6e6e6;
  // transition: all 0.3s ease 0s;
}
.fa-star {
  float: right;
  line-height: inherit;
}
.category-name {
  padding-bottom: 15px;
}
.project-referal {
  text-align: center;
}