#centered-profile-sentence {
	text-align: center;
	font-size: 21px;
}
.card-profile {
  padding: 40px 130px;
}
.card-profile h2 {
	font-size: 55px;
  text-align: center;
  letter-spacing: 0.04em;
}
.card-profile h2, h3 {
  font-weight: 300;
  color: #22A39F;
}
.card-profile hr { 
	margin: 40px 0px;
  border-color: #727878;
  opacity: 0.2;
}
.card-profile p {
	font-weight: lighter;
	font-size: 15px;
	text-align: left;
	color: #434242;
}
.details p {
	line-height: 0.9;
}