.card-profile {
  padding: 40px 130px;
}
.card-profile p {
	font-weight: lighter;
	font-size: 15px;
	text-align: left;
	color: #434242;
}
.details p {
	line-height: 0.9;
}
.aligned-right-details {
  text-align: right;
}
#centered-profile-sentence {
  text-align: center;
  font-size: 21px;
}