.card-profile {
	max-width: 1290px;
  padding: 40px 180px;
}
.card-profile h2 {
	font-size: 55px;
  text-align: center;
  letter-spacing: 0.04em;
}
.card-profile p {
	text-align: center;
	font-weight: lighter;
	font-size: 21px;
	color: rgba(114, 120, 120, 0.8);
}
.card-profile h2, h3 {
  font-weight: 300;
  color: #22A39F;
}
.card-profile hr { 
	margin: 40px 0px;
  border-color: #727878;
  opacity: 0.2;
}
#description p {
	font-size: 15px;
}