<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(155,240,245,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/banner.png');">
  <div class="container">
    <h1>Julien Da Silva</h1>
    <p>Interactive resume</p>
  </div>
</div> -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(155,240,245,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/purple.jpg');">
  <div class="container">
    <h1>Julien Da Silva</h1>
    <p>Interactive resume</p>
  </div>
</div>