<div class="wrapper-white">
  <div class="container">
    <div class="profile padded" id="1">
      <div class="centered-sentences">    
        <h2>Profile</h2>
        <p>I'm a creative Ruby on Rails developper </p>
      </div>
        <hr>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="flex-center">
            <div class="about-me">
              <h3>About me</h3>
              <p>I worked almost 10 years in the cinema industry and enjoyed but something was missing. Besides my love for art, I was also a tech lover and my curiosity for the entrepreneur world was growing every day.  It quickly became obvious that learning to code was the next step. I wanted to be able to prototype a product, talk with other developers, understand how the products that I love are made.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="flex-center">
            <div class="avatar">
              <%= image_tag "avatar.jpg", class: "avatar-large" %>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div id="unflex-mobile">
            <div class="details">
              <h3>Details</h3>
              <p><strong>Name:</strong></p>
              <p>Julien Da Silva</p>
              <p><strong>Age:</strong></p>
              <p>30</p>
              <p><strong>Location:</strong></p>
              <p>Paris, France</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>