<div class="wrapper-white">
  <div class="container">
    <div class="projects padded" id="3">
      <div class="centered-sentences">    
        <h2>Projects</h2>
        <p>You will find here some projects I have worked for</p>
      </div>
        <hr>
      <div class="row">
      </div>
    </div>
  </div>
</div>